/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    @apply bg-zinc-900 text-zinc-200
}

.btn{
    @apply border border-zinc-700 w-full block text-center hover:cursor-pointer hover:bg-white hover:bg-opacity-20 transition-all
}

.input{
    @apply bg-transparent border border-zinc-700 px-2 py-1 text-sm focus:border-zinc-500 focus:outline-none
}

#slicer-preview img{
    @apply mr-[1px] mb-[1px]
}